.main_div{
    display: flex;
    width: 70%;
    margin: auto;
    border: 1px solid red;
    gap: 50px;
    align-items: center;
}
.child_div{
    width: 50%;
    margin: 20px;
    display: flex;
    flex-direction: column;
}
.btn_div{
    text-align: right;
}